.card_wrapper {
  margin: 192px 213px 0px 213px;
  max-height: 940px;
}

.card_title {
  max-width: 354px;
  font-family: 'Gilroy';
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #316099;
}
