.cards {
  margin: 192px 213px 212px 213px;
}
.card_title {
  transform: translateY(100%);
  align-self: start;
  font-family: 'Gilroy';
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #316099;
  max-width: 358px;
}
.wrapper_cards {
  max-height: 1162px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  //grid-column-gap: 100px;
}
.card_first {
  box-sizing: border-box;
  margin-left: 80px;
  align-self: center;
  max-width: 380px;

  background: #ffffff;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

.card_second {
  max-width: 380px;

  margin-left: 80px;
  background: #ffffff;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  margin-bottom: 100px;
}

.card_third {
  margin-left: 80px;
  max-width: 380px;

  background: #ffffff;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}
.card_img {
  margin-left: 74px;
  margin-top: 48px;
  margin-bottom: 56px;
  max-width: 182px;
  max-height: 132px;
}
.card_info {
  margin-left: 48px;
  max-width: 257px;
  font-family: 'Gilroy';
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  margin-bottom: 16px;
}

.card_description {
  margin-left: 48px;
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  opacity: 0.6;
  margin-bottom: 32px;
  max-width: 284px;
}

.card_learn_more {
  margin-left: 48px;
  padding-bottom: 48px;
  font-family: 'Gilroy';
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5a98d0;
  background: url(../assets/img/arrow-min.png) no-repeat 30% 10%;
  transition: 0.3s all;
  &:hover,
  &:focus {
    background: url(../assets/img/arrow-min.png) no-repeat 36% 10%;
  }
}
