.main {
  padding-left: 212px;
  position: relative;
}

.main_logo {
  position: absolute;
  left: 665px;
  top: -101px;
  max-width: 687px;
  max-height: 612px;
  overflow: hidden;
  z-index: -1;
}
.main_automation {
  color: #1f3f68;
  margin-top: 101px;
  max-width: 510px;
  font-family: 'Gilroy';
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
}
.main_lorem {
  max-width: 425px;
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  opacity: 0.6;
  margin-bottom: 71px;
}
button {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #5a98d0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 15px 40px;
  margin-bottom: 190px;
}
