@import '~normalize.css';
@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(../assets/Gilroy-ExtraBold.otf) format('trutype');
}
@font-face {
  font-family: Gilroy-Light;
  src: url(../assets/Gilroy-Light.otf) format('trutype');
}

@import './variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: $color-pri;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  background: rgb(2, 2, 26);
  min-height: 100vh;
  font-family: 'Gilroy-Light', sans-serif;
  font-size: 18px;
}

.wrapper {
  max-width: 1366px;
  margin: 0 auto;
  font-size: 18px;
}
