@import '~normalize.css';
@font-face {
  font-family: Gilroy;
  src: url(../assets/fonts/Gilroy-Light.otf) format('trutype');
}

@import './variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: $color-pri;
}

body {
  background: rgb(2, 2, 26);
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  animation: move 1s linear infinite forwards;
}

.wrapper {
  max-width: 1366px;
  margin: 0 auto;
}
